html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #fffffe;
  background: linear-gradient(to bottom, #fffffe 80%, #0f0e17 80%);
  color: #2e2f3e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.8;
}

*:link {
  color: #ff8906;
}

*:visited {
  color: #ff8906;
}

.wrapper {
  max-width: 1300px;
  background-color: #fffffe;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.header__link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.2rem 0;
}

.header__logo {
  margin: 0;
  width: 70%;
  margin-top: 4rem;
  margin-left: 2rem;
  position: relative;
  max-width: 277px;
  max-height: 350px;
}

.header-logo__image {
  position: relative;
  border-radius: 5px;
}

.header-logo-image__backdrop {
  margin: 0;
  position: absolute;
  border-radius: 5px;
}

.header-logo-image__backdrop--backdrop {
  width: 100%;
  height: 100%;
  background-color: #f25f4c;
  left: 2rem;
  top: -2rem;
}

.header-logo-image__backdrop--drop-shadow {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fffffe99;
  left: 0.6rem;
  top: 0.6rem;
  border-radius: 5px;
}

.header__logo--caption {
  display: none;
}

.header-title {
  margin-top: 3.5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.header-title__title {
  color: #0f0e17;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.15;
}

.header-title__subtitle {
  color: #2e2f3e;
  font-size: 1.1rem;
  font-weight: 400;
}

.header-social-bar {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.header-social-bar__entry {
  width: 32px;
  height: 32px;
  background-color: #ff8906;
  color: #fffffe;
  padding: 0.2rem;
  border-radius: 5px;
}

.header-social-bar__link {
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffffe;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.1rem;
  justify-content: space-evenly;
  margin-bottom: 3.5rem;
}

.chapter {
  background-color: #0f0e17;
  color: #a7a9be;
  padding: 1.5rem;
  border-radius: 3px;
  max-width: 350px;
  flex: 1;
  min-width: 285px;
}

.chapter-title {
  color: #fffffe;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.chapter-title__icon {
  margin: 0;
  aspect-ratio: 1/1;
  background-color: #fffffe;
  color: #ff8906;
  border-radius: 5px;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-title__icon--icon {
  position: relative;
}

.chapter-title__title {
  font-size: 1.7rem;
  margin: 0;
}

.content-image {
  max-width: 100%;
  border-radius: 5px;
}

.footer {
  font-size: 1.1rem;
}

.footer__content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.footer__title {
  font-size: 1.7rem;
  margin: 0;
}

.footer-vip-list__entry {
  border: solid 3px #0f0e17;
  border-radius: 3px;
  margin-top: 0.5rem;
  padding: 0.75rem 0.5rem;
}

.footer-vip-list__entry:hover {
  color: #fffffe;
  background-color: #ff8906;
}

.footer-vip-list__link {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.footer-vip-list {
  list-style: none;
  padding: 0;
  margin-top: 3.5rem;
}

.footer__tile {
  background-color: #ff8906;
  color: #fffffe;
  aspect-ratio: 1/1;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__subtitle {
  color: #2e2f3e;
  font-size: 1.1rem;
  font-weight: 400;
}

.address {
  padding-bottom: 2rem;
  padding-top: 3rem;
  margin-top: 3.5rem;
  text-align: center;
  color: #fffffe;
  background: #0f0e17;
}

.address__entry {
  display: block;
}

@media screen and (min-width: 700px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 4rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 4rem;
  }

  .header__logo {
    flex-basis: 35%;
    margin-left: 0;
  }

  .header-title {
    flex: 1;
    margin-bottom: 0px;
  }
}
